<label>
  Base : <span id="current">{{cur.toFixed(1)}}</span><br/>
  Chiffre utile : <input id="input" type="number"  #titleInput><br/>
  Réponse : <span id="reponse">{{rep.toFixed(1)}}</span>
</label>
<br/>
<br/>
Opérations :
<br/>
<button id="setCurrent" (click)="setCurrent(titleInput.value)">Changer la base</button> (base = chiffre utile)
<br/>
<button id="add" (click)="add(titleInput.value)">Additionner</button> (base + chiffre utile)
<br/>
<button id="sub" (click)="sub(titleInput.value)">Soustraire</button> (base - chiffre utile)
<br/>
<button id="time" (click)="time(titleInput.value)">Multiplier</button> (base * chiffre utile)
<br/>
<button id="div" (click)="div(titleInput.value)">Diviser</button> (base / chiffre utile)
